<nav>
  <div class="jokes-site">
    <a href><h1>Jokes Galore</h1></a>
    <p>A site for jokes</p>
  </div>
  <ul>
    <li><a href="/">Jokes</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/jokes/seed">seed a jokes</a></li>
  </ul>
</nav>
