<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jokes Home</title>
  </head>
  <body>
    <nav>
      <div class="jokes-site">
        <a href><h1>Jokes Galore</h1></a>
        <p>A site for jokes</p>
      </div>
      <ul>
        <li><a href="/">Jokes</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/jokes/seed">seed a jokes</a></li>
      </ul>
    </nav>

    <div>
        <h2>All jokes</h2>
    </div class="jokes content">
    <h1>404 Not Found</h1>
    <p>This is a 404 not found page</p>
  </body>
</html>
