<!DOCTYPE html>
<html>
    <%- include('./partials/header.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>

    <div>
        <h2>All jokes</h2>
    </div class="jokes content">
    <h1>About Page</h1>
    <p>This is an about page</p>
  </body>
</html>
