<!DOCTYPE html>
<html>
  <%- include('./partials/header.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div>
        <h2>All jokes</h2>
    </div class="jokes content">
    <h1>Index Page</h1>
    <p>This is an index page</p>

    <% if (jokes.length > 0) { %>
      <% jokes.forEach(jokes => { %> 

        <h3><%= jokes.name%></h3>
        <p><%= jokes.snippet%></p>
        
        <%})%>
    
    <% } else {%>
      <p>There are no jokes to display</p>
      <% }%>
  </body>
</html>
