<!DOCTYPE html>
<html>
    <%- include('./partials/header.ejs') %>
  <body>

    <%- include('./partials/nav.ejs') %>

    <div>
        <h2>All jokes</h2>
    </div class="jokes content">
    <h1>Jokes Page</h1>
    <p>This is a jokes page</p>


    <div>
        <form>
            <label for="title">Joke Title:</label>
            <input type="text" id="title" required>
            <label for="snippet">Joke snippet:</label>
            <input type="text" id="snippet" required>
            <label for="body">joke body:</label>
            <textarea name="Joke" id="body" cols="30" rows="10" required></textarea>
            <button>Submit</button>
        </form>
    </div>
  </body>
</html>
